body {
    background: linear-gradient( to right, #07A3B2 20%,#A8EB12);
    color: white;
    font-family: "Poppins", sans-serif;
}


ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding:10px;
}

ul li a:hover {
    transition: .3s;
    color: rgb(7, 227, 235);
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-items: center;
}

header {
    text-align: center;
    padding-top: 16px;
}
 
.titulo h1{
    color: black;
}

.titulo h2{
    color: black;
}

footer img {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

footer a {
    display: flex;
    justify-content: center;
}

.titulo-projeto h1{
    color: black;
}

.titulo-contato h2{
    color: black;
}

.contato-insta{
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.contato-celular{
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

.contato-linkedin{
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.contato-github {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.content-main {
    margin: 30px;
}

.content-main .project {
    border: 1px solid #30363d;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    border-radius: 7px;
    margin: 20px;
    background-color: rgb(177, 212, 157);
}

.content-main .project div {
    display: flex;
    justify-content: space-between;
}

.content-main .project div .titulo {
    color: #000000;
}

.content-main .project div .link {
    color: black;
}